body{
    font-family: 'Atkinson Hyperlegible', sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

p{
    font-weight: lighter;
}

span{
    color: #482ff7;
}

img{
    height: 13rem;
    min-width: 2rem;
    max-width: 23rem;
}