*{
    font-family: 'Atkinson Hyperlegible', sans-serif;

}

body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Atkinson Hyperlegible', sans-serif;

}

p{
    font-weight: lighter;
    margin: 0.5rem;
    
    
}

span{
    color: #482ff7;
}

img{
    height: 13rem;
    min-width: 2rem;
    max-width: 24rem;
    margin: 1rem;
    
}

li{
    margin: 0;
    padding: 0;
}
