@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');



body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-family: 'Atkinson Hyperlegible', sans-serif;
color: #40514e;
}

span{
    color: #9c1de7;
}

a{
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 0;
}

.src{
    color:#9c1de7 ;
}

.container{
    display: flex;
    flex-direction: column;
    height: 15rem;
    background-color: #f0f0f0;
    width: 25rem;
margin-left: 5.5rem;
margin: 1rem;
padding: 0.5rem;
border-radius: 0.8rem;

}

#minion{
    background-image: url('Capture.PNG');
    background-repeat: no-repeat;
    background-size: 29rem;
}

h5{
    margin-top: 0.1rem;
}

p{
    margin-top: 0.1rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;

}

button{
    height: 2rem;
    width: 7rem;
    margin: 0.2rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
  background-color: #9c1de7;
  border-radius: 5px;
  border:2px solid #9c1de7;
  color: white;
  cursor: pointer;
  font-size: 0.8rem;
  
}

.src-btn{
    background-color: white;
    color:#9c1de7 ;
}