@import url('https://fonts.googleapis.com/css2?family=Roboto+Condensed&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
/* *{
  margin: 0;
  padding: 0;
} */
 body{
    
    background-color: white;
      height: 100vh;
      display: flex;
      flex-direction: column;
      align-items: center;
      width:100%;
      font-family: 'Atkinson Hyperlegible', sans-serif;

      
}

.name{
margin: 0.5rem;
margin-top: 0.3rem;
}

header{
display: flex;
height: 5rem;
width: 100%;
background-color: white;
justify-content: space-between;

}

header h1{
    font-family: 'Style Script', cursive;
    margin: 0.9rem;
    font-size: 2.5rem;
    color: black;
    
}

header h2{
    margin: 1.2rem;
}

header h2 a{
    margin-top: 2.1rem;
    margin-left: 1rem ;
    list-style: none;
    text-decoration: none;
    color: #9c1de7;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    font-size: 0.9rem;
}

.heading2{
    margin-top: 19rem;
    color:#40514e;
}

.web{
    color:#9c1de7 ;
}

.tech{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 2rem;
    height: 12rem;
    width: 25rem;
    background-color: #dee1ec;
    border-bottom-right-radius: 1rem;
    border-top-right-radius: 1rem;
}


.tech p {
    margin-left: 1rem;
    margin-top: 1rem;
    color: #40514e;
}

footer{
    margin-top: 6rem;
height: 5rem;
background-color: #9c1de7;
width: 120%;
display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
}

.foot1{
    display: flex;
    height: 50%;
    justify-content: center;
    margin-top: 2px;
}
.instagram{
    height: 3rem;
    margin-top: 10px;
    margin-left: 1rem;
}


    .icon{
        height: 2.5rem;
        margin-bottom: 1rem;
        margin-top: 15px;
        
        margin-right: 1rem;
        
        
        
    } 


    .github{
        margin-left: 1rem;
    }

.foot2{
    margin:1rem;
    font-family: 'Atkinson Hyperlegible', sans-serif;
    color: white;
}


/* illustration */
.cartoon {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  
  .cartoon div {
    position: absolute;
    box-sizing: border-box;
  }
  
  .b {
    border: 0.25vmin solid #9e579d;
  }
  
  .r {
    border-radius: 100%;
  }
  
  .hb::before,
  .ha::after {
    content: "";
    display: block;
    position: absolute;
    box-sizing: border-box;
  }
  
  /****/
  /* html, body {
    background: #eec;
    color: #963;
  } */
  
  #person {
    height: 35vmin;
    width: 20vmin;
  }
  
  .head {
    top: 0.25vmin;
    left: 50%;
    color: #9e579d;
    width: 8vmin;
    height: 12vmin;
    transform: rotate(7deg) translate(-50%, 0);
    background: #9e579d;
    box-shadow: inset 0 0.75vmin, inset -0.5vmin -10vmin white, 0 0 0 0.25vmin;
  }
  
  .ear {
    width: 2vmin;
    height: 2.25vmin;
    top: 50%;
    background: white;
  }
  .ear::before {
    width: 40%;
    border-top: 0.25vmin solid #963;
    top: 40%;
    left: 33%;
  }
  .ear-1 {
    left: -1.5vmin;
    border-right-color: transparent;
    transform: rotate(-10deg);
  }
  .ear-2 {
    border-left-color: transparent;
    top: 40%;
    right: -1.5vmin;
  }
  .ear-2::before {
    left: auto;
    right: 30%;
    transform: rotate(-5deg);
  }
  
  .nose {
    width: 0.75vmin;
    height: 3vmin;
    border: 0.25vmin solid transparent;
    border-left: 0.25vmin solid #9e579d;
    border-bottom: 0.25vmin solid #9e579d;
    border-right: 0;
    top: 50%;
    left: 50%;
    transform: rotate(-5deg) translate(-60%, -25%);
    border-radius: 100% 0 0 50%;
  }
  
  .mouth {
    width: 3vmin;
    height: 3vmin;
    transform: rotate(45deg);
    border: 0.25vmin solid transparent;
    border-right-color: #9e579d;
    top: 55%;
    left: 35%;
  }
  
  .cheeks {
    width: 5vmin;
    height: 1.25vmin;
    background: rgba(255,0,0,0.10);
    top: 50%;
    left: 50%;
    transform: rotate(-7deg) translate(-50%, -10%);
  }
  
  @keyframes blink {
    0%, 40%, 50%, 100% { height: 0.75vmin; }
    45% { height: 0; }
  }
  
  .eyes {
    width: 0.75vmin;
    height: 0.75vmin;
    background: #9e579d;
    top: 47%;
    left: 25%;
    box-shadow: 2.75vmin 0 #963;
    transform: rotate(-7deg) translate(0%, -50%);
    animation: blink 4s infinite;
  }
  
  .eyebrows {
    width: 1.75vmin;
    border: 0.75vmin solid #9e579d;
    border-bottom: 0;
    transform: rotate(-7deg);
    top: 33%;
    left: 15%;
    box-shadow: 3vmin 0 #9e579d;
  }
  
  .neck {
    color: #9e579d;
    top: 9vmin;
    left: 50%;
    width: 5vmin;
    height: 7vmin;
    transform: translate(-50%, 0);
    border-radius: 80vmin 70vmin 0 0;
    box-shadow: 0 0 0 0.25vmin, inset 0 -2.5vmin;
  }
  
  .body {
    width: 20vmin;
    height: 20vmin;
    background: #9e579d;
    top: 15vmin;
    left: 50%;
    transform: translate(-48.5%, 0)
  }
  
  .chest {
    background: #9e579d;
    width: 12vmin;
    height: 15vmin;
    box-shadow: -0.25vmin 0.25vmin #eec, 0.25vmin 2vmin white;
    top: 20vmin;
    left: 50%;
    transform: translate(-50%, 0);
  }
  
  .idea {
    color: #9e579d;
    font-family: Times, "Times new roman", serif;
    font-size: 4.5vmin;
    width: 6vmin;
    height: 6vmin;
    background: white;
    text-align: center;
    line-height: 6vmin;
    top: -5vmin;
    left: -1vmin;
    box-shadow: 2.25vmin 3.8vmin 0 -2.25vmin white, 2.25vmin 3.8vmin 0 -2vmin, 3.6vmin 4.9vmin 0 -2.75vmin #eec, 3.6vmin 4.9vmin 0 -2.5vmin, 0 0 0 0.25vmin;
    user-select: none;
  }
  
  .table {
    width: 160%;
    bottom: 0;
    left: -35%;
    border-bottom: 0.25vmin solid #9e579d;
  }